body {
    background-color: #2D2D2D;
    color: #BFC5CE;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.content {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
}
