{{ define "top" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/56b1b34b3c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="assets/normalize.css">
    <link rel="stylesheet" href="assets/stylesheet.css">
    <title>Kalle's Weather Dashboard</title>
</head>
<body>
<div class="content">
{{ end }}

{{ define "bottom" }}
</div>
</body>
</html>
{{ end }}