{{ template "top" . }}

<h1>
    Weather
</h1>
<h2>
    {{ .data.Date }}
</h2>
<h3>Average</h3>
<div>Max: {{ .data.MaxAverage }}</div>
<div>Min: {{ .data.MinAverage }}</div>
{{range .data.TemperatureObservations}}
    <h3>{{.Year}}</h3>
    <div>Max: {{.Max}}</div>
    <div>Min: {{.Min}}</div>
{{end}}

{{ template "bottom" . }}