{{ template "top" . }}

<h1>
    Weather
</h1>
<h2>
    {{ .data.Date }}
</h2>

{{range .data.WeatherData}}
    <h3>{{.Year}}</h3>
    <div>Min: {{.Min}}</div>
    <div>Max: {{.Max}}</div>
{{end}}

{{ template "bottom" . }}