{{ define "top" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/56b1b34b3c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="assets/normalize.css">
    <link rel="stylesheet" href="assets/stylesheet.css">
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico">
    <title>Kalle's Weather Dashboard</title>
</head>
<body>
<nav class="navbar">
    <!-- LOGO -->
    <div class="logo">MUO</div>
    <!-- NAVIGATION MENU -->
    <ul class="nav-links">
    <!-- USING CHECKBOX HACK -->
    <input type="checkbox" id="checkbox_toggle" />
    <label for="checkbox_toggle" class="hamburger">&#9776;</label>
    <!-- NAVIGATION MENUS -->
    <div class="menu">
        <li><a href="/">Temperature History</a></li>
        <li><a href="/ocean">Ocean Temperature</a></li>
    </div>
    </ul>
</nav>
<div class="content">
{{ end }}

{{ define "bottom" }}
</div>
</body>
</html>
{{ end }}