{{ template "top" . }}

<header class="oceab-header">
    <div class="title">
        <h1>Ocean Temperature</h1>
        <h2 class="date">{{ .data.Date }}</h2>
    </div>
    <p>This list gives an overview of the maxiumum ocean temperature from the last 24 hours from selected measuring stations around Denmark.</p>
</header>

{{range .data.Observations}}
<div class="list-card">
    <div class="list-card-content primary-padding">
        <h3 class="bold year">{{.StationName}}</h3>
        <div class="ocean-temp-info">
            <span class="temperature"><i class="cold fa-solid fa-temperature-high"></i>
                {{if (call $.data.IsNA .Temperature)}}
                <span class="temp-max">N/A</span>
                {{else}}
                {{.Temperature}}
                {{end}}
            </span>
        </div>
    </div>
    <hr>
</div>
{{end}}


{{ template "bottom" . }}