{{ template "top" . }}

<header class="oceab-header">
    <div class="title">
        <h1>Ocean Temperature</h1>
        <h2 class="date">{{ .data.Date }}</h2>
    </div>
</header>

<code>
{{ .data }}
</code>


{{ template "bottom" . }}