@font-face {
    font-family: Andel;
    src: url("fonts/Andel-Regular.woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Andel;
    src: url("fonts/Andel-Italic.woff2");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: Andel;
    src: url("fonts/Andel-Light.woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Andel;
    src: url("fonts/Andel-Demibold.woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Andel;
    src: url("fonts/Andel-Bold.woff2");
    font-weight: 900;
    font-style: normal;
}

body {
    background-color: var(--color-white);
    font-family: Andel, sans-serif;
}

hr {
    border-top: 1px solid var(--color-dark-gray);
    border-left: none;
    border-right: none;
    border-bottom: none;
}

header {
    padding: var(--padding-primary);
    padding-top: 0;
    background-color: var(--color-primary-dark);
    color: var(--color-white);
}

.error-header {
    background-color: var(--color-warm);
    color: var(--color-white);
}

.content {
    margin: 0 auto;
    width: 100%;
}


.temp-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bold {
    font-weight: var(--font-weight-bold);
}

.warm {
    color: var(--color-warm);
}

.cold {
    color: var(--color-primary);
}

.date {
    font-style: italic;
}

.primary-padding {
    padding: var(--padding-primary);
}

.temperature {
    font-size: 2rem;
    font-weight: var(--font-weight-light);
}

.year {
    font-size: 1.5rem;
}

.label {
    font-size: 1.5rem;
    font-weight: var(--font-weight-light);
}

:root {
    --color-primary: #3c6ee3;
    --color-primary-dark: #18326c;
    --color-secondary: #c3d4f4;
    --color-tertiary: #e3eaf9;
    --color-warm: #d7615c;
    --color-white: #f9f9f9;
    --color-gray: #f0f0f0;
    --color-dark-gray: #d8d8d8;

    --padding-primary: 1.5rem;

    --font-weight-light: 300;
    --font-weight-demibold: 700;
    --font-weight-bold: 900;
}